 # Opis notatnika
 W poprzednich krokach pobraliśmy dane oraz przygotowaliśmy bazę `Postgres` na import. Głównym celem w tym notatniku jest  odpowiednie dostosowanie struktury danych z plików źródłowych do formatu zgodnego z `Postgres`, a następnie wgranie ich na nasz serwer. Dzięki temu w późniejszych krokach możemy niezależnie użyć danych do analizy czy raportowania.
 
 Ponownie wcielasz się w rolę Data Engineera, którego zadaniem jest zasilenie bay danych pobranymi danymi. Bez poprawnego załadowania danych nie będziesz w stanie dokonać analizy eksploracyjnej, która jest jednym z wymagań dostarczonych przez klienta.

 Przy wykonywaniu tego notebooka przydadzą się poniższe elementy kursu oraz materiały dodatkowe:
 * `SQL - analiza danych > Zjazd 1 - materiały dodatkowe > Export danych z DB > Python` - w celu użycia połączenia razem z `Pandas`,
 * https://docs.sqlalchemy.org/en/14/core/engines.html - w celu uzupełnienia konfiguracji `Pandas` do `PostgerSQL`,
 * https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html - eksport danych z `Pandas` na bazę danych.

 > Uwaga: Ze względu na wolumen danych zawarty w pliku `flight.csv`, wykonanie tego notatnika może zająć nawet kilkadziesiąt minut lub więcej!

## Połączenie z bazą danych
Tutaj uzupełnij konfigurację połączenia tworząc zmienne takie jak:
- `username` - nazwa użytkownika bazy,
- `password` - hasło do bazy,
- `host` - adres naszej bazy danych, jeśli baza jest postawiona na naszej maszynie wtedy będzie to po prostu `localhost`,
- `database` - nazwa bazy danych np. `postgresql`
- `port` - domyślnie `5432`

> Przetrzymywanie hasła w ten sposób nie jest bezpieczne, co było zaznaczane w trakcie kursu. Lepszym sposobem jest używanie zmiennych środowiskowych, ale na nasze potrzeby nie jest to potrzebne. Dla osób chcących zapoznać się z taką formą zalecamy ten artykuł - [klik](https://developer.vonage.com/blog/21/10/01/python-environment-variables-a-primer).

In [2]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.22-cp310-cp310-win_amd64.whl (2.1 MB)
                                              0.0/2.1 MB ? eta -:--:--
     -                                        0.1/2.1 MB 2.3 MB/s eta 0:00:01
     ---                                      0.2/2.1 MB 2.5 MB/s eta 0:00:01
     -------                                  0.4/2.1 MB 3.2 MB/s eta 0:00:01
     -----------                              0.6/2.1 MB 3.4 MB/s eta 0:00:01
     ----------------                         0.9/2.1 MB 3.6 MB/s eta 0:00:01
     --------------------                     1.1/2.1 MB 4.0 MB/s eta 0:00:01
     -------------------------                1.3/2.1 MB 4.1 MB/s eta 0:00:01
     ----------------------------             1.5/2.1 MB 4.1 MB/s eta 0:00:01
     ---------------------------------        1.7/2.1 MB 4.2 MB/s eta 0:00:01
     -----------------------------------      1.8/2.1 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.1 MB 3.9 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.1 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.1 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.1 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.1 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.1 MB 4.0 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 2.7 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\kasia\anaconda3\lib\site-packages (from sqlalchemy) (4.6.3)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.0-cp310-cp310-win_amd64.whl (287 kB)
                                              0.0/287.7 kB ? eta -:--:--
     --------------------------------       245.8/287.7 kB 7.6 MB/s eta 0:00:01
     -------------------------------------  286.7/287.7 kB 5.9 MB/s eta 0:00:01
     -------------------------------------  286.7/287.7 kB 5.9 MB/s eta 0:00:01
     -------------------------------------  286.7/287.7 kB 5.9 MB/s eta 0:00:01
     -------------------------------------- 287.7/287.7 kB 1.4 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.0 sqlalchemy-2.0.22
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution - (c:\users\kasia\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\kasia\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -fi (c:\users\kasia\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\kasia\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\kasia\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -fi (c:\users\kasia\anaconda3\lib\site-packages)

In [1]:
import pandas as pd
from psycopg2 import connect
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

In [2]:
username = 'postgres'
password = 'qpa102188523'

host = 'localhost'
database = 'airlines'
port = None

 Z pomocą artykułu [click](https://docs.sqlalchemy.org/en/14/core/engines.html) stwórz zmienne `url` oraz `engine`. Zgodnie z dokumentacją `Pandas`, zmienna `engine` będzie potrzebna, by móc wyeksportować dane na serwer `SQL`.

W tym miejscu stwórz zmienne `url` oraz `engine`
> Wskazówka: Zmienna `url` powinna być stworzona zgodnie ze schematem jak we wcześniej podanym artykule, jednak powinna używać zmiennych zdefiniowanych wyżej.

In [3]:
url_object = URL.create(
    "postgresql",
    username = 'postgres',
    password = 'qpa102188523',
    host = 'localhost',
    database = 'airlines')
    
engine = create_engine(url_object)

 # Załadowanie ramek do obszaru roboczego
 Uzupełnij implementacje funkcji `load_raw_data`, która przyjmuje jeden parametr:
 * `file_name` - nazwa pliku do zaczytania
 Jej zadaniem jest wczytanie surowego pliku, zmodyfikowanie nazw kolumn z `NAZWA_KOLUMNY` na `nazwa_kolumny` oraz zwrócenie tak zmodyfikowanej ramki danych

 Mogą się przydać poniższe element kursu:
 - `Python-Analiza danych -> Dzień 5 - Pandas -> Obróbka danych - częsć 1`
 - `Python-Analiza danych -> Przygotowanie do zjazdu 3 -> Wstęp do Pandas -> Wczytywanie danych do Pandas` - jakie kodowanie mają pliki?

In [4]:
def load_raw_data(file_name):
    df = pd.read_csv(file_name, encoding='UTF-8')
    df.columns = df.columns.str.lower()
    return df

 # Zaczytanie poszczególnych plików do ramek

 W tym miejscu zaczytaj poszczególne pliki do ramek

In [5]:
aircraft_df = load_raw_data(r'..\data\raw\aircraft.csv')
airport_weather_df = load_raw_data(r'..\data\raw\airport_weather.csv')
flight_df = load_raw_data(r'..\data\raw\flight.csv')
airport_list_df = load_raw_data(r'..\data\raw\airport_list.csv')

In [13]:
airport_list_df.head(10)

,origin_airport_id,display_airport_name,origin_city_name,name
0,11638,Fresno Air Terminal,"Fresno, CA","FRESNO YOSEMITE INTERNATIONAL, CA US"
1,13342,General Mitchell Field,"Milwaukee, WI","MILWAUKEE MITCHELL AIRPORT, WI US"
2,13244,Memphis International,"Memphis, TN","MEMPHIS INTERNATIONAL AIRPORT, TN US"
3,15096,Syracuse Hancock International,"Syracuse, NY","SYRACUSE HANCOCK INTERNATIONAL AIRPORT, NY US"
4,10397,Atlanta Municipal,"Atlanta, GA",ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
5,10529,Bradley International,"Hartford, CT","HARTFORD BRADLEY INTERNATIONAL AIRPORT, CT US"
6,10140,Albuquerque International Sunport,"Albuquerque, NM","ALBUQUERQUE INTERNATIONAL AIRPORT, NM US"
7,10792,Greater Buffalo International,"Buffalo, NY","BUFFALO NIAGARA INTERNATIONAL, NY US"
8,10599,Birmingham Airport,"Birmingham, AL","BIRMINGHAM AIRPORT, AL US"
9,14831,San Jose International,"San Jose, CA","SAN JOSE INTERNATIONAL AIRPORT, CA US"

 # Eksport danych na bazę
 Zapoznaj się z dokumentacją metody `Pandas` - [to_sql](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html), której zadaniem jest wyeksportowanie ramki na bazę danych.
 Zwróć szczególną uwagę na poniższe parametry:
 * `if_exists` - jak ma się zachować metoda, gdy ładuje dane na bazę,
 * `con` - połączenie do bazy,
 * `name` - nazwa tabeli, do której ramka ma zostać wgrana,
 * `index` - czy dodawać index z ramki jako kolumnę,
 * `chunksize` - maksymalna liczba wierszy wgrywana za jednym razem.

 > **Uwaga:** 
 > Przed eksportem upewnij się, że tabela jest pusta. Zwróć uwagę na pewną subtelną różnicę pomiędzy wyglądem ramki oraz tabeli docelowej na bazie danych.

Następnie uzupełnij implementację metody `export_table_to_db`, która przyjmuje dwa argumenty:
 * `df` - ramka danych do eksportu,
 * `table_name` - nazwa ramki na bazie.

Zalecamy, aby dodać do metody informację, która ramka jest aktualnie ładowana np.:
 `Loading data into {table_name}...`
 > Ze względu na rozmiar ramki `flight_df`, proces ten może potrwać nawet kilkadziesiąt minut! Z tego względu, na potrzeby testów, zalecamy przekazanie do procedury `export_table_to_db` np. pierwszych 5 wierszy, aby sprawdzić, czy działa, a potem wgrać cały zestaw danych - pamiętając o upszednim usunięciu tamtych.

In [22]:
def export_table_to_db(df, table_name):
    connection = engine.raw_connection()
    cursor = connection.cursor()
    cursor.execute(f'TRUNCATE TABLE {table_name};') #clear the table before inserting data (in case of multiple code execution)
    connection.commit()
    cursor.close()
    connection.close()
    df.to_sql(name=table_name, 
              con=engine, 
              if_exists='append', 
              index=True, 
              index_label='id', 
              chunksize=5000, 
              method=None) #‘multi’: Pass multiple values in a single INSERT clause

 ## Wgrywanie danych

 ### Wgranie `aircraft_df` do tabeli `aircraft`

In [18]:
export_table_to_db(aircraft_df, 'aircraft')

 ### Wgranie `airport_weather_df` do tabeli `airport_weather`

In [29]:
export_table_to_db(airport_weather_df, 'airport_weather')

 ### Wgranie `flight_df` do tabeli `flight`
 > Wykonanie tej komórki może zająć kilka-kilknaście minut za względu na ilość danych w ramce.

In [23]:
export_table_to_db(flight_df, 'flight')

 ### Wgranie `airport_list_df` do tabeli `airport_list`

In [15]:
export_table_to_db(airport_list_df, 'airport_list')

 # Sprawdzenie poprawności wykonania notatnika
 Uruchom kod poniżej, aby sprawdzić, czy ta część została poprawnie wykonana

In [24]:
def test_data_export(table_name, expected_count, expected_schema):
    real_count = pd.read_sql(f"SELECT COUNT(*) as cnt FROM {table_name}", engine).iloc[0][0]
    
    real_schema = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 0", engine)
    real_schema = set(real_schema.columns)

    expected_schema = set(expected_schema)

    diff = real_schema.symmetric_difference(expected_schema)

    assert len(diff) == 0, ('Nie zgadzają się kolumny tabel....'
    f'\tOczekiwano: {expected_schema}'
    f'\tOtrzymano: {real_schema}'
    f'\tRóżnica: {diff}')

    assert expected_count == real_count, \
        f'Nie zgadza się liczba wierszy, oczekiwano {expected_count}, otrzymano {real_count} - sprawdź, czy nie dane nie zostały wgrane do tabeli "{table_name}" więcej niż raz.'

 ## Sprawdzenie tabeli `aircraft`
 Uruchom kod poniżej, aby sprawdzić, czy ta część została poprawnie wykonana

In [25]:
aircraft_expected_count = 7383
aircraft_expected_schema = ['id', 'manufacture_year', 'tail_num', 'number_of_seats']

test_data_export('aircraft', aircraft_expected_count, aircraft_expected_schema)

 ## Sprawdzenie tabeli `airport_weather`
 Uruchom kod poniżej, aby sprawdzić, czy ta część została poprawnie wykonana

In [26]:
airport_weather_expected_count = 46226
airport_weather_expected_schema = [
       'id', 'station', 'name', 'date', 'awnd', 'prcp', 'snow', 'snwd', 'tavg', 
       'tmax', 'tmin', 'wdf2', 'wdf5', 'wsf2', 'wsf5', 'wt01', 'wt08', 'wt02',
       'wt03', 'wt04', 'wt09', 'wt06', 'wt05', 'pgtm', 'wt10', 'wesd', 'sn32',
       'sx32', 'psun', 'tsun', 'tobs', 'wt07', 'wt11', 'wt18']

test_data_export('airport_weather', airport_weather_expected_count, airport_weather_expected_schema)

 ## Sprawdzenie tabeli `flight`
 Uruchom kod poniżej, aby sprawdzić, czy ta część została poprawnie wykonana

In [27]:
flight_expected_count = 1386120
flight_expected_schema = [
       'id', 'month', 'day_of_month', 'day_of_week', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'dest_airport_id',
       'crs_dep_time', 'dep_time', 'dep_delay_new', 'dep_time_blk',
       'crs_arr_time', 'arr_time', 'arr_delay_new', 'arr_time_blk',
       'cancelled', 'crs_elapsed_time', 'actual_elapsed_time', 'distance',
       'distance_group', 'year', 'carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay']

test_data_export('flight', flight_expected_count, flight_expected_schema)

 ## Sprawdzenie tabeli `airport_list`
 Uruchom kod poniżej, aby sprawdzić, czy ta część została poprawnie wykonana

In [28]:
airport_list_expected_count = 97
airport_list_expected_schema = ['id', 'origin_airport_id', 'display_airport_name', 'origin_city_name', 'name']

test_data_export('airport_list', airport_list_expected_count, airport_list_expected_schema)

In [29]:
msg = "Wszystko wygląda OK :) Możesz przejść do kolejnego kroku."
print(msg)

Wszystko wygląda OK :) Możesz przejść do kolejnego kroku.

 # Podsumowanie
 W tym notatniku załadowaliśmy pobrane wcześniej pliki na bazę danych. Dzięki temu stworzyliśmy centralne miejsce ich magazynowania, co wykorzystamy zarówno przy analizie danych, jak i przy późniejszej budowie systemu raportowego.